.container {
    text-align: left;
}
.show-link {
    margin-left: 20px;
}
.show-link a {
    display: inline-block;
    font-size: 1.8rem;
    color: rgb(71, 126, 253);
    margin-left: 8px;
}
.form input[type=submit] {
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    width: 130px;
    height: 40px;
    padding: 0;
    background-color: rgb(89, 189, 255);
    border: 1px solid rgb(71, 126, 253);
    border-radius: 5px;
    cursor: pointer;
}
/* 送信ボタンの枠線を消す */
.form input[type=submit]:focus {
    outline: none;
}
.form input[name=download] {
    margin-top: 15px;
}
.button.back {
    position: fixed;
    right: 10px;
    bottom: 10px;
    text-align: center;
    width: 130px;
    height: 40px;
    background-color: rgb(89, 189, 255);
    border: 1px solid rgb(71, 126, 253);
    border-radius: 5px;
}
.button.back a {
    display: block;
    font-size: 1.9rem;
    font-weight: bold;
    color: #fff;
    line-height: 40px;
    width: 100%;
    height: 100%;
}
.message {
    text-align: center;
    max-width: 600px;
    line-height: 1.2;
    padding: 20px;
    margin: 0 auto 40px;
    border: 1px solid #000;
    border-radius: 20px;
}
.error-message {
    color: rgb(255, 21, 21);
}