.sub-title {
    padding-bottom: 20px;
}
.theme {
    max-width: 800px;
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.3;
    color: #fff;
    border: 8px solid #4B3001;
    background-color: rgb(41, 105, 35);
    padding: 20px;
    margin:0 auto 50px;
}
.container {
    text-align: left;
}
.words {
    display: inline-block;
    text-align: left;
    padding: 20px 15px;
    margin: 0 auto 50px;
    border-radius: 10px;
}
.word {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 3rem;
    padding-right: 20px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(184, 182, 182);
}
.word::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    background-color: rgb(184, 182, 182);
    transform: rotate(45deg);
}
.word:nth-of-type(3) {
    margin-bottom: 0;
}
.name {
    display: inline-block;
    font-size: 2.5rem;
    margin-bottom: 30px;
    margin-left: 5px;
    border-bottom: 1px solid #000;
}
.name span {
    font-weight: bold;
}
.form label {
    margin-left: 5px;
}
.form textarea {
    width: 100%;
    height: 100px;
    margin-top: 5px;
}
.form input[type=submit] {
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    width: 130px;
    height: 40px;
    padding: 0;
    margin: 20px 0 40px;
    background-color: rgb(89, 189, 255);
    border: 1px solid rgb(71, 126, 253);
    border-radius: 5px;
    cursor: pointer;
}
/* 送信ボタンの枠線を消す */
.form input[type=submit]:focus {
    outline: none;
}
.message {
    text-align: center;
    max-width: 600px;
    line-height: 1.2;
    padding: 20px;
    margin: 0 auto 40px;
    border: 1px solid #000;
    border-radius: 20px;
}
.error-message {
    color: rgb(255, 21, 21);
}
/* ナビ */
.nav {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 270px;
}
.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.nav-item {
    width: calc(100% / 2 - 5px);
    height: 40px;
    border-radius: 5px;
}
.nav-item .form input[name=logout] {
    width: 100%;
    height: 40px;
    margin: 0;
}
.nav-item.admin {
    margin-right: 10px;
    background-color: rgb(255, 114, 32);
    border: 1px solid rgb(255, 76, 6);
}
.nav-item a {
    display: block;
    font-size: 1.9rem;
    font-weight: bold;
    color: #fff;
    line-height: 40px;
    width: 100%;
    height: 100%;
}
/* スマートフォン */
@media screen and (max-width: 480px) {
    .theme {
        max-width: 400px;
        font-size: 3rem;
        margin-bottom: 20px;
    }
    .words {
        margin-bottom: 20px;
    }
    .word {
        font-size: 2rem;
    }
    .word::before {
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }
    .name {
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .form input[type=submit] {
        margin: 20px 0 30px;
    }
}