@charset "UTF-8";
/*共通部分*/
html {
  font-size: 62.5%;
}
body {
  color: #000;
  font-size: 2em;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  text-align: center;
}
*,*::before,*::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
/* メインタイトル */
.main-title {
  font-size: 5rem;
  padding-top: 80px;
  padding-bottom: 80px;
}
/* サブタイトル */
.sub-title {
  font-size: 4rem;
  padding-top: 80px;
  padding-bottom: 80px;
}
/* ボタン */
.button {
  display: block;
  width: 400px;
  height: 80px;
  padding: 0;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}
.button a {
  display: block;
  font-size: 3rem;
  font-weight: bold;
  line-height: 80px;
  width: 100%;
  height: 100%;
}
/* リンク */
.link {
  display: inline-block;
  width: 180px;
  border-bottom: 1px solid #000;
  transition: border 0.5s;
}
.link:hover {
  border-color: rgb(17, 0, 255);
}
.link:hover a {
  color: rgb(17, 0, 255);
}
.link a {
  display: block;
  width: 100%;
  height: 100%;
  transition: color 0.5s;
}
/* コンテナ */
.container {
  max-width: 800px;
  margin: 0 auto;
}
/* 投稿情報 */
.post-item {
  width: 80%;
  padding: 20px;
  margin-top: 25px;
  background-color: rgb(248, 248, 248);
  border-radius: 20px;
}
.post-item.self {
  margin: 25px 0 0 auto;
}
.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}
.show-name {
  font-size: 2.2rem;
}
.show-date {
  font-size: 1.8rem;
  margin-left: 20px;
  opacity: 0.7;
}
.show-message {
  letter-spacing: 1px;
  line-height: 1.2;
  margin-top: 20px;
}
/* スマートフォン */
@media screen and (max-width: 480px) {
  body {
    font-size: 1.8em;
  }
  /* メインタイトル */
  .main-title {
    font-size: 4rem;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  /* サブタイトル */
  .sub-title {
    font-size: 3rem;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  /* ボタン */
  .button {
    width: 300px;
    height: 50px;
  }
  .button a {
    font-size: 2rem;
    line-height: 50px;
  }
  /* リンク */
  .link {
    width: 150px;
  }
  .link a {
    font-size: 1.8rem;
  }
  .container {
    max-width: 400px;
  }
  .show-name {
    font-size: 2rem;
  }
  .show-date {
    font-size: 1.6rem;
    margin-left: 20px;
    opacity: 0.7;
  }
  .show-message {
    margin-top: 10px;
  }
}