.container {
    text-align: left;
}
.name {
    display: inline-block;
    font-size: 2.5rem;
    margin-bottom: 30px;
    margin-left: 5px;
    border-bottom: 1px solid #000;
}
.name span {
    font-weight: bold;
}
.form label {
    margin-left: 5px;
}
.form textarea {
    width: 100%;
    height: 100px;
    margin-top: 5px;
}
.form input[type=submit] {
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    width: 130px;
    height: 40px;
    padding: 0;
    background-color: rgb(89, 189, 255);
    border: 1px solid rgb(71, 126, 253);
    border-radius: 5px;
    cursor: pointer;
}
/* 送信ボタンの枠線を消す */
.form input[type=submit]:focus {
    outline: none;
}
.button-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
}
.button {
    width: 130px;
    height: 40px;
    margin: 0;
    background-color: rgb(89, 189, 255);
    border: 1px solid rgb(71, 126, 253);
    border-radius: 5px;
}
.button a {
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #fff;
}
.button.cancel {
    margin-right: 20px;
}
.message {
    text-align: center;
    max-width: 600px;
    line-height: 1.2;
    padding: 20px;
    margin: 0 auto 40px;
    border: 1px solid #000;
    border-radius: 20px;
}
.error-message {
    color: rgb(255, 21, 21);
}