.description {
    text-align: left;
    max-width: 600px;
    padding: 0 50px 60px;
    margin: 0 auto;
}
.description p {
    font-size: 2.2rem;
    line-height: 1.5;
}
.link.login {
    margin-top: 30px;
}